@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
:root {
    --font-family-default: "Red Hat Text", sans-serif;

    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --white: hsl(0, 0%, 100%);

    --font-size-100: 0.5rem;
    --font-size-200: 0.8rem;
    --font-size-500: 1rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;

    --font-weight-normal: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-default);
    background-color: var(--white);
    cursor: pointer;
}

h1 {
    font-weight: var(--font-weight-bold);
}

img {
    width: 100%;
    border-radius: 0.5rem;
}

.viewport {
    width: 100%;
    margin: auto;
    padding: 5rem;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
}

.products__container .product__menu {
    width: 70%;
    display: flex;
    gap: 1rem;
    grid-column: 2 / 2;
}

.products__container h1 {
    font-size: var(--font-size-700);
    grid-column: 1 / 4;
}

.product__menu .products__list {
    position: relative;
}

.products__list .cart__container {
    background-color: var(--white);
    padding: 0.6rem 1.8rem;
    border: solid 1px var(--rose-300);
    border-radius: 2.5rem;
    gap: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 67%;
    left: 20%;
}

.cart__container span {
    text-wrap: nowrap;

    font-weight: var(--font-weight-normal);
}

.products__list .products__description {
    margin-top: 2rem;
}

.products__description .category {
    color: var(--rose-300);
}

.products__description span {
    color: var(--rose-900);
    font-weight: var(--font-weight-bold);
}
.products__description .price {
    color: var(--red);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
